body {
    background: #080808;
}

#glow {

    background: #62666c; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM2MjY2NmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(left 500px, ellipse cover,  #62666c 0%, #080808 100%); 
    background: radial-gradient(left 500px, ellipse cover,  #62666c 0%,#080808 100%); 
    background: -webkit-gradient(radial, left 500px, 0px, center center, 100%, color-stop(0%,#62666c), color-stop(100%,#080808)); 
    background: -webkit-radial-gradient(left 500px, ellipse cover,  #62666c 0%,#080808 100%); 
    background: -o-radial-gradient(left 500px, ellipse cover,  #62666c 0%,#080808 100%); 
    background: -ms-radial-gradient(left 500px, ellipse cover,  #62666c 0%,#080808 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#080808', endColorstr='#62666c',GradientType=0 ); 

    height: 400px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

}

#crowd {
    background: transparent url(images/crowd.png) no-repeat 0 0;
    height: 350px;
    position: relative;
    margin: 200px auto 0 auto;
    width:940px;
}

#chris_silhouette {
    background: transparent url(images/chris_silhouette.png) no-repeat 0 0;
    width: 100px;
    height: 110px;
    position: absolute;
    top: 250px;
    left: 370px;
}

#main_body {
    color: #fff;
    z-index: 10;
    position: relative;
}

